html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.home{
    background-image: url(../images/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    //cursor: none;
    
}

.works{
    background-color: white;
    height: 100vh;
    width: 100%;
}

.scroll{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    user-select: none;
}

p{
    font-family: 'Inconsolata', monospace;
}

.vl_contain{
    width: 100%;
    min-height: 80px;
}

.vl{
    border-left: 1px solid black;
    min-height: 55px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 1;
}

::-webkit-scrollbar {									/* Scrollbars */
	display: none;
}

#mouse-follow{
    position: absolute;
    left: 0;
    top: 0;
    cursor: none;
    z-index: 2;
}